body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
.highlight{
    color: chartreuse;
}
.haif-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.haif-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-color: coral;
    color: cornsilk;
    border: 2px solid deepskyblue;
    border-radius: 10px;
    padding: 5px 15px;
}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single{
    box-shadow: 10px 10px 40px rgba(216, 88, 29, 0.473);
    border-radius: 10px;
    height: 80%;
}
#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient(180 ,rgb(255, 115, 0) ,rgb(255, 154, 71)) ;
}
#baby-web{
    border-left: 5px solid;
    border-image: linear-gradient(180 ,rgba(0, 0, 255, 0.76) ,rgb(71, 114, 255)) ;
}
footer{
    text-align: center;
    background-color: black;
    color: antiquewhite;    
}